.contactInput
{
  color: inherit;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 12pt;
}

button {
  float: right;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFF;
  font-size: 18px;
  background-color: #D93240;
  border-width: 0px;
  border-radius: 4px;
}

button:focus {
  outline: none;
}
