

body {
  font-family: sans-serif;
  text-align: center;
  color: #0F5959;
  background-image: image();
  background-color: #EEEEEE
}

div.mainFrame {
  background-color: #FFFFFF;
  margin: 180px auto;
  margin-bottom: 0px;
  display: block;
  max-width: 800px;

}

div.contentFrame {
  overflow: hidden;
  text-align: left;
  border-color: #D93240;
  border-style: solid;
  border-left-width: thick;
  border-right-width: thick;
  border-bottom-width: thick;
  border-top-width: 0px;
}

div.menuBar {
  color: #FFFFFF;
  text-align: center;
  background-color: #D93240;
}

div.heading {
  text-align: center;
  margin: 15px;
  margin-top: 40px;
}

div.resume {
  margin: 30px;
  padding-right: 10px
  width: inherit;
}

div.contact {
  padding: 50px;
  padding-top: 20px;
  padding-right: 10px
  width: inherit;
}

div.right {
  float: right;
  width: 30%;
}

div.left {
  float: left;
  width: 70%;
  overflow: hidden;
}

.circleImage {
  display: block;
  margin: auto;
  border-radius: 50%;
  padding-bottom:20px;
}

.socialLinks {
  margin-left: 30px;
}

.socialIcon {
  margin:15px;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  color: inherit;
  display: block;
  padding: 10px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #0F5959;
}

li a:active {
  background-color:  #0F5959;
}

#name {
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  margin: 0px;
}

.resumeItem {
  margin: 40px;
}

.resumeItem h4 {
  margin: 0;
  margin-bottom: 15px;
}

.resumeItem h5 {
  margin: 0;
  margin-left: 30px;
}
