


body {
  font-family: sans-serif;
  text-align: center;
  color: #0F5959;
  background-image: image();
  background-color: #FFFFFF
}

div.mainFrame {
  background-color: #FFFFFF;
  margin: 180px;
  display: block;
}

div.resumeFrame {
  text-align: left;
  border-color: #D93240;
  border-style: solid;
  border-left-width: thick;
  border-right-width: thick;
  border-bottom-width: thick;
  border-top-width: 0px;
}

div.menuBar {
  color: #FFFFFF;
  text-align: center;
  background-color: #D93240;
}

div.resume {
  padding: 30px;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  color: inherit;
  display: block;
  padding: 10px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #0F5959;
}

#quote {
  font-style: italic;
}

h1 {
  margin: 0px;
}
