.projectList
{
  padding:12%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projectListItem
{
  border-color: #D93240;
  width: 100%;
  margin-bottom: 70px;
  margin-top: 70px;
}

.projectListItem:hover
{
  cursor: pointer;
}

.projectIcon img
{
  width: 95%;
}

.projectIcon
{
  width: 20%;
  float: left;
  margin-top: auto;
}

.projectText
{
  width: 80%;
  float: right;
  border-color: inherit;
}

.projectItemFrame
{
  border-color: #D93240;
}

.projectItemTitle
{
  font-size: 300%;
  text-align: left;
  margin: 0px;
  margin-bottom: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 5px;
  border-color: inherit;
}

.projectItemTitleWord
{
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: inline-block;
}

.projectItemDescription
{
  margin: 15px;
  color: #168383;
  font-weight: normal;
  text-align: left;
}
