.projectLogo {
  width: 150px;
  height: 150px;
}

.projectDescription {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.heading {
  margin-left: 12%;
  margin-right: 12%;3
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: inherit;
}
